<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title> </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="font-size:25px"> Adopt a Paw </a>
            <img src="https://www.pngfind.com/pngs/m/444-4444574_meet-greet-pet-owner-icon-png-transparent-png.png" width="40" height="40" alt="">
            <a class="navbar-brand" href="/"> &nbsp; &nbsp; Home </a>
            <a class="navbar-brand" href="/findPet"> Find Pet  </a>
            <a class="navbar-brand" href="/signUp"> Sign Up  </a>
            <a class="navbar-brand" href="/login"> Login  </a>
        </nav>
    </header>

     <br>
    <div style ="text-indent:30px">
        <h1 class="display-4" style="font-size:35px; color:#708090"> Sign Up! </h1> <br>
    </div>

    <div style="text-indent:30px">
        Username: <input type="text"> <br> <br>
    </div>

    <div style="text-indent:35px">
        Password: <input type="text"> <br> <br>
    </div>

    <div style="text-indent:220px">
        <button class="btn btn-secondary"> submit </button>
    </div>



</body>
</html>