<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Pet Find</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="font-size:25px"> Adopt a Paw </a>
            <img src="https://www.pngfind.com/pngs/m/444-4444574_meet-greet-pet-owner-icon-png-transparent-png.png" width="40" height="40" alt="">
            <a class="navbar-brand" href="/"> &nbsp; &nbsp; Home </a>
            <a class="navbar-brand" href="/findPet"> Find Pet  </a>
            <a class="navbar-brand" href="/signUp"> Sign Up  </a>
            <a class="navbar-brand" href="/login"> Login  </a>
        </nav>
    </header>
    <br>

    <div style="text-align:center">
        <h1 class="display-4" style="font-size:35px; color:#708090"> Find a Pet! </h1> <br>
    </div>

    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i1}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b1}} </h1>
            <button onclick="adopt()" id="btn1" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>

    <br>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i2}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b2}} </h1>
            <button onclick="adopt()" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>

    <br>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i3}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b3}} </h1>
            <button onclick="adopt()" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>

    <br>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i4}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b4}} </h1>
            <button onclick="adopt()" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>

    <br>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i5}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b5}} </h1>
            <button onclick="adopt()" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>

    <br>
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;width:400px;height:450px;position:relative;left:640px;">
        <br>
        <img src="{{i6}}" style="width:300px;height:300px;position:relative;left:30px;"><br>
        <div class="container">
            <h1 class="display-4" style="font-size:20px">
                Animal: Dog <br>
                Breed: {{b6}} </h1>
            <button onclick="adopt()" class="btn btn-secondary" style="position:relative;left:280px"> Adopt! </button>
        </div>
    </div>
</body>

<script>
    function adopt(){
        location.href = "/Adopt"
    }
</script>

</html>